* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

body {
    background: rgb(67,0,75);
    background: linear-gradient(90deg, rgba(67,0,75,1) 0%, rgba(0,0,0,1) 50%, rgba(67,0,75,1) 100%);
}

h5{
    font-size: 2em;
    color: white;
    font-weight: 500;
}

h6{
    margin: 0;
}

p{
    color: #000;
}

footer{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #000;
    margin: 0;
    padding: 0;
}